### Q 1.

###  for loop :
A for loop is used for iterating over a sequence

In [1]:
# Example for loop

fruits = ["apple","banana"]
for i in fruits:
    print(i)

apple
banana

###  while loop :
while loop execute a set of statements as long as condition is true

In [2]:
n=5
while n>0:
    print(n)
    n= n-1

5
4
3
2
1

### Q 2.

In [2]:
I=1
for i in range(1,11):
    I = I*i
print(I)

3628800

In [4]:
I=0
for i in range(1,11):
    I =I+i
print(I)

55

In [5]:
I=1
i=1
while i<=10:
    I=I*i
    i=i+1
print(I)

3628800

In [7]:
I=0
i=1
while i<=10:
    I=I+i
    i=i+1
print(I)

55

###  Q 3.

In [3]:
number_unit = int(input("enter the unit"))
if number_unit >300:
    
    a= number_unit -300
    number_unit = number_unit -a
    a = a*20
    
if number_unit>200 and number_unit<=300:
    
    b = number_unit - 200
    number_unit = number_unit -b
    b = b*10
if number_unit >100 and number_unit<=200:
    
    c = number_unit-100
    number_unit = number_unit -c
    c= c*6
if number_unit >0:
    d = number_unit*4.5
    
electricity_bill = a+b+c+d
print(electricity_bill)

enter the unit310
2250.0

### Q 4.

In [16]:
l=[]
for i in range(1,101):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [17]:
l=[]
for i in range(1,101):
    if (i**3)%4==0 or (i**3)%5==0:
        l.append(i)
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [1]:
l=[]
i=1
while i<=100:
    if (i**3)%4==0 or (i**3)%5==0 :
        l.append(i)
    i=i+1
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

### Q 5.

In [8]:
string = "I want to become a data scientist"

In [10]:
count =0
for i in string:
    if i=='A' or i=='E' or i=='I' or i=='O' or i=='U' or i=='a' or i=='i' or i=='o' or i=='e' or i=='u':
        count =count +1
        print(i)
print(" Total Number of vowel",count)

I
a
o
e
o
e
a
a
a
i
e
i
 Total Number of vowel 12